.container {
    background-color:#e6dcb6; /* Equivalent to bg-amber-100 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap: 20px;
  }
  
  .title {
    font-size: 3rem; /* Equivalent to text-5xl */
    font-weight: bold;
    text-decoration: underline;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.875rem; /* Equivalent to text-3xl */
    font-weight: 600;
  }
  
  .linkitem {
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: inherit;
  }
  